<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975549460764-q2086tki5hmhlb56te5uo9n9epesgt5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975549460764-q2086tki5hmhlb56te5uo9n9epesgt5o</string>
	<key>API_KEY</key>
	<string>AIzaSyDeQzG6bnNu-z5JSXWZzplTD663_CBgp5k</string>
	<key>GCM_SENDER_ID</key>
	<string>975549460764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aranguriapps.nearYou</string>
	<key>PROJECT_ID</key>
	<string>nearyou-b2185</string>
	<key>STORAGE_BUCKET</key>
	<string>nearyou-b2185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975549460764:ios:a2df244b26a58d9d058ad9</string>
</dict>
</plist>